attrs==21.2.0
Automat==20.2.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
constantly==15.1.0
Flask==1.1.2
gTTS==2.2.1
gunicorn==20.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.0.1
PyYAML==5.3.1
requests==2.25.0
selenium==3.141.0
six==1.15.0
Twisted==21.2.0
urllib3==1.26.2
Werkzeug==1.0.1
zope.interface==5.4.0
git+https://github.com/Joeclinton1/google-images-download.git#egg=google-images-download