astroid==2.9.2
async-timeout==4.0.2
attrs==21.2.0
Automat==20.2.0
autopep8==1.6.0
beautifulsoup4==4.10.0
black==22.3.0
certifi==2020.11.8
chardet==3.0.4
click==8.1.2
constantly==15.1.0
Deprecated==1.2.13
Flask==1.1.2
Flask-Cors==3.0.10
gTTS==2.2.1
gunicorn==20.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.7.1
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
mutagen==1.45.1
mypy-extensions==0.4.3
numpy==1.21.2
packaging==21.3
pathspec==0.9.0
pep8==1.7.1
Pillow==8.0.1
platformdirs==2.4.1
pycodestyle==2.8.0
pylint==2.12.2
pyparsing==3.0.9
PyYAML==5.3.1
redis==4.3.3
requests==2.25.0
rq==1.10.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
supervisor==4.2.4
toml==0.10.2
tomli==2.0.1
Twisted==21.2.0
typing-extensions==4.0.1
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.13.3
zope.interface==5.4.0
git+https://github.com/janvdp/google-images-download.git#egg=google-images-download
