{% extends "base.html" %}

{% block head %}
<title>Text2Video</title>
{%endblock%}

{% block nav %}
    <label class = "logo">Text2Video</label>
{%endblock%}
{%block main %}
    <div class = "about">
        <h1>Text2Video</h1>
        <p>Create videos quickly and easily without the hassle of recording your voice, finding images, and editing the final product. Just upload your script and Text2Video will do it all for you.</p>
    </div>
    <div class = "form-container">
    <form method = "POST" action = "/create-video", enctype = "multipart/form-data" class = "form">
        <div class = "form-title">
            Create Your Video
        </div>
        <div class = "form-item">
            <label for = "transcript" class = "form-label">Upload Script (.txt)</label>
            <input type = "file" name = "transcript" id = "transcript">
        </div>
        <div class = "form-description">
            Describe images that you want to appear in brackets.
        </div>

        <div class = "form-check">
            <input type = "checkbox" name = "use_audio" id = "use_audio" onclick = "showAudio()">
            <label for="use_audio"> Use your own audio file</label>
        </div>
        <div class = "audio_file" style = "display:none">
            <div class = "form-item">
                <label for = "audio" class = "form-label">Upload Audio File (mp3)</label>
                <input type = "file" name = "audio" id = "audio">
            </div>
        </div>
        <div class = 'form-item'>
            <label for = "usage_rights" class = "form-label">Pick Usage Rights for Images</label>
            <select name = "usage_rights" id = "usage_rights">
                <option value = "any">Any</option>
                <option value = "labeled-for-reuse-with-modifications">labeled-for-reuse-with-modifications</option>
                <option value = "labeled-for-reuse">labeled-for-reuse</option>
                <option value = "labeled-for-noncommercial-reuse-with-modification">labeled-for-noncommercial-reuse-with-modification</option>
                <option value = "labeled-for-nocommercial-reuse">labeled-for-nocommercial-reuse</option>


            </select>
        </div>
        <div class = "form-item">
            <button type = "submit" name = "Submit" class = "form-btn" onclick = "showProg()">Create Video</button>
        </div>
    </form>
    <progress id = "progress-bar" style = "display:none"></progress>
    </div>
{%endblock%}
{%block scripts%}
<script>

    function showAudio(){
        const checkBox = document.getElementById("use_audio");
        const audio_file = document.querySelector(".audio_file");
        if(checkBox.checked == true){
            audio_file.style.display = "block";
        }else{
            audio_file.style.display = "none";
        }
    }

    function showProg(){
        const progBar = document.getElementById("progress-bar")
        progBar.style.display = "block";
    }
</script>
{%endblock%}