<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="nav">{% block nav %}{%endblock%}</nav>
    <div class="flash">
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %} {%for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        <span>{{message}}</span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endfor%} {%endif%} {%endwith%}
    </div>
    <main>
      <div class="container">{% block main %}{%endblock%}</div>
    </main>
    {%block scripts%}{%endblock%}
  </body>
</html>
