<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/alerts.css') }}"
      type="text/css"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="logo">Text2Video</a>
      <ul class="menu-items">
        <li><a href="/tutorial">Tutorial</a></li>
      </ul>
    </nav>
    <div class="flash">
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %} {%for category, message in messages %}
      <div class="alert" role="alert">
        <span>{{message}}</span>
        <span class="closebtn">&#x2A2F;</span>
      </div>
      {%endfor%} {%endif%} {%endwith%}
    </div>
    <main>{% block main %}{%endblock%}</main>
    {%block scripts%}{%endblock%}
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
  </body>
</html>
