{% extends "base.html" %} {% block head %}
<title>Upload Images | Text2Video</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/upload-images.css') }}"
  type="text/css"
/>
<script src="{{url_for('static', filename='js/upload_images.js')}}"></script>
{%endblock%} {%block main %}
<div class="main-container">
  <div class="upload-header">
    <h1>Upload Images</h1>
    <p>
      Your script is shown below. Click the blue image descriptions to upload an
      image that will appear at that location.
    </p>
  </div>
  <div class="script">
    <form method="post" action="/create-video" enctype="multipart/form-data">
      <input name="use_audio" value="{{use_audio}}" hidden />
      <input name="usage_rights" value="{{usage_rights}}" hidden />
      <input name="tmp_dir" value="{{tmp_dir}}" hidden />
      <input name="images_dir" value="{{images_dir}}" hidden />
      <input name="textpath" value="{{textpath}}" hidden />
      <input name="audiopath" value="{{audiopath}}" hidden />

      {% for word in transcript %} {% if word[1] %}
      <input type="file" id="word-{{word[2]}}" name="{{word[2]}}" hidden />
      <label
        for="word-{{word[2]}}"
        class="image-upload-label"
        id="word-label-{{word[2]}}"
        >{{word[0]}}</label
      >
      <script>
        listenForUpload('word-{{word[2]}}', 'word-label-{{word[2]}}');
      </script>
      {% else %} {{word[0]}} {% endif %} {% endfor %}
      <button type="submit" class="upload-image-btn">Create Video</button>
    </form>
  </div>
</div>

{%endblock%}
